
.chat__main
  .chat__main--header
    .chat__main--header_left
      .chat__main--header_left_group_name
        = @group.name
      .chat__main--header_left_member_name
        Member : 
        - @group.users.each do |user|
          = user.name
    .chat__main--header_right
      = link_to edit_group_path(@group), class:"chat__main--header_right_btn" do
        Edit
  .chat__main--contents
    = render @messages
  .chat__main--form
    = form_for [@group, @message] do |f|
      .input_area
        = f.text_field :content, class: "new_input_area" ,placeholder: "type a message"
        .input-box_area
          = f.label :image, class: "input-box__image" do
            = fa_icon 'image', class: 'icon'
            = f.file_field :image, class: "input-btn"
      = f.submit "Send", class: "send-btn" 
